spring:
  application:
    name: ecom-backend
  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5432/ecom_db?sslmode=disable}
    username: ${DB_USERNAME:username}
    password: ${DB_PASSWORD:password}
  jpa:
    hibernate:
      ddl-auto: create-drop
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
server:
  port: 8080

api:
  prefix: /api/v1

auth:
  token:
    expirationInMils: 7200000
    jwtSecret: 36763979244226452948404D635166546A576D5A7134743777217A25432A462D
